<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <form [formGroup]="formItem" (ngSubmit)="onSubmit()" >
      <h2 class="text-center">Cadastro de itens</h2>
      <div class="form-group">
        <label for="">Objeto</label>
        <select class="form-control" formControlName = "objeto" (change)="onSelectObjeto($event)">
          <option *ngFor="let objeto of objetos" [value]="objeto.$key" (click)="onClickObjeto(objeto)"  >{{objeto.descricao}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="codigo">Código</label>
        <input type="text" class="form-control" id="codigo" placeholder="Código" formControlName="codigo" >
      </div>
      <div class="form-group">
        <label for="descricao">Descrição</label>
        <textarea name="descricao" id="descricao" class="form-control"  formControlName="descricao"></textarea>
      </div>
      <div class="form-group" *ngIf="objetoSelected?.$key == medicamento" >
          <label for="forma_farmaceutica">Forma farmacêutica</label>
          <input type="text" class="form-control" id="forma_farmaceutica" placeholder="Forma farmacêutica"  formControlName="forma">
      </div>
      <div class="form-group" *ngIf="objetoSelected?.$key == medicamento">
          <label for="dose">Dose</label>
          <input type="text" class="form-control" id="dose" placeholder="Dose" formControlName="dose">
      </div>
      <div class="form-group" *ngIf="objetoSelected?.$key == medicamento">
          <label for="apresentacao">Apresentação</label>
          <input type="text" class="form-control" id="apresentacao" placeholder="Apresentação"  formControlName="apresentacao">
      </div>
      <div class="form-group" *ngIf="objetoSelected?.$key != medicamento">
          <label for="unidade">Unidade</label>
          <input type="text" class="form-control" id="apresentacao" placeholder="Unidade"  formControlName="unidade">
      </div>
      
        <button type="submit" [disabled]="formItem.invalid" class="btn btn-default btn-block">Salvar</button>
      </form>
  </div>  
</div>