<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#medicamentos" aria-controls="medicamentos" role="tab" data-toggle="tab">Medicamentos</a></li>
    <li role="presentation"><a href="#correlatos" aria-controls="correlatos" role="tab" data-toggle="tab">Correlatos</a></li>
    <li role="presentation"><a href="#instrumental" aria-controls="instrumental" role="tab" data-toggle="tab">Instrumental</a></li>
    <li role="presentation"><a href="#equipMedico" aria-controls="equipMedico" role="tab" data-toggle="tab">Equip. Méd. Hosp.</a></li>
    <li role="presentation"><a href="#acessorios" aria-controls="acessorios" role="tab" data-toggle="tab">Acessórios</a></li>
    <li role="presentation"><a href="#epi" aria-controls="epi" role="tab" data-toggle="tab">EPI</a></li>
    <li role="presentation"><a href="#matLab" aria-controls="matLab" role="tab" data-toggle="tab">Mat. Lab.</a></li>
    <li role="presentation"><a href="#matOdonto" aria-controls="matOdonto" role="tab" data-toggle="tab">Mat. Odonto.</a></li>
    <li role="presentation"><a href="#gas" aria-controls="gas" role="tab" data-toggle="tab">Gás</a></li>
    <li role="presentation"><a href="#limpHigenDescart" aria-controls="limpHigenDescart" role="tab" data-toggle="tab">Limp. Higien. e Descart.</a></li>
    <li role="presentation"><a href="#alimentos" aria-controls="alimentos" role="tab" data-toggle="tab">Alimentos</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="medicamentos">
      
    </div>
    <div role="tabpanel" class="tab-pane" id="correlatos">correlatos</div>
    <div role="tabpanel" class="tab-pane" id="instrumental">instrumental</div>
    <div role="tabpanel" class="tab-pane" id="equipMedico">equipMedico</div>
    <div role="tabpanel" class="tab-pane" id="acessorios">acessorios</div>
    <div role="tabpanel" class="tab-pane" id="epi">epi</div>
    <div role="tabpanel" class="tab-pane" id="matLab">matLab</div>
    <div role="tabpanel" class="tab-pane" id="matOdonto">matOdonto</div>
    <div role="tabpanel" class="tab-pane" id="gas">Gás</div>
    <div role="tabpanel" class="tab-pane" id="limpHigenDescart">Material Limpeza Higienização e Descartáveis</div>
    <div role="tabpanel" class="tab-pane" id="alimentos">Alimentos</div>
  </div>

<p>
  catalogo-detail works!
  {{key}}
</p>
