<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="form-horizontal">
        <input type="text" class="form-control" placeholder="Pesquisar item" >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <label class="checkbox-inline">
        <input type="checkbox" id="check_medicamentos"> Medicamentos
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="check_correlatos"> Correlatos
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="check_alimentos"> Alimentos
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="check_limpeza"> Limpeza e descartável
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="check_expediente">Material de expediente
      </label>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <table class="table">
        <thead>
          <th>Código</th>
          <th>Descrição</th>
          <th>Forma farmacêutica</th>
          <th>Dose</th>
          <th>Apresentação</th>
        </thead>
        <tbody>
          <tr>
            <td>teste</td>
            <td>teste</td>
            <td>teste</td>
            <td>teste</td>
            <td>teste</td>
          </tr>
          <tbody>
          <tr>
            <td>teste</td>
            <td>teste</td>
            <td>teste</td>
            <td>teste</td>
            <td>teste</td>
          </tr>
          <tbody>
          <tr>
            <td>teste</td>
            <td>teste</td>
            <td>teste</td>
            <td>teste</td>
            <td>teste</td>
          </tr>
          <tbody>
          <tr>
            <td>teste</td>
            <td>teste</td>
            <td>teste als dfjas kljdk fljaslkdj fkajsdjfkljaskdjfka skldfj k asdkflk a lsjdflk jsakdl</td>
            <td>teste</td>
            <td>teste</td>
          </tr>
          <tbody>
          <tr>
            <td>teste</td>
            <td>teste</td>
            <td>teste</td>
            <td>teste</td>
            <td>teste</td>
          </tr>
          <tbody>
          <tr>
            <td>teste</td>
            <td>teste</td>
            <td>teste</td>
            <td>teste</td>
            <td>teste</td>
          </tr>
          <tbody>
          <tr>
            <td>teste</td>
            <td>teste</td>
            <td>teste</td>
            <td>teste</td>
            <td>teste</td>
          </tr>
          <tbody>
          <tr>
            <td>teste</td>
            <td>teste</td>
            <td>teste</td>
            <td>teste</td>
            <td>teste</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--
<div class="row container">
  <div class="col-xs-8 col-xs-offset-2 form-inline">
    <input type="text" class="form-control col-xs-6" placeholder="Pesquisar item" >
    <button class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
  </div>
  <div class="row form-inline">

    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Medicamentos
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Correlatos
        </label>
      </div>
    </div>

  </div>
</div> -->